/* PHASE 3: Content */

.content {
  margin: 0 auto;
  width: 900px;
  background: white;
  border: 1px solid #ccc;
}

.content-sidebar {
  width: 200px;
  float: left;
  padding: 20px;
}

.content-main {
  width: 620px;
  float: left;
  padding: 20px;
}

.content h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 20px 0;
}

.content p {

}
